# Investigate a Dataset (TMBd Movie Data)

## Table of Contents
<ul>
<li><a href="#intro">Introduction</a></li>
<li><a href="#wrangling">Data Wrangling</a></li>
<li><a href="#eda">Exploratory Data Analysis</a></li>
<li><a href="#conclusions">Conclusions</a></li>
</ul>

<a id='intro'></a>
## Introduction

> In this project, I will conduct a data analysis over The Movie Database (TMDb) and create a file to share that documents the findings. This data set contains information about 10,000 movies collected from TMDb, including over 20 indicators. This document will go through each step from data wrangling, statistical analyse, data visualize to draw conclusions.
>
### some questions include:
> + Which genres are most popular from year to year?
+ What kinds of properties are associated with movies that have high revenues?
+ What is the realtionship between movie runtime and average vote?

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
%matplotlib inline

<a id='wrangling'></a>
## Data Wrangling

> Purpose: load in the data, check for cleanliness, and then trim and clean dataset for analysis

### General Properties

In [2]:
# Load data and print out a few lines. Perform operations to inspect data
# types and look for instances of missing or possibly errant data.

In [3]:
df = pd.read_csv('tmdb-movies.csv')
df.head()

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/15,5562,6.5,2015,1.379999e+08,1.392446e+09
1,76341,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,http://www.madmaxmovie.com/,George Miller,What a Lovely Day.,...,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/15,6185,7.1,2015,1.379999e+08,3.481613e+08
2,262500,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,http://www.thedivergentseries.movie/#insurgent,Robert Schwentke,One Choice Can Destroy You,...,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/15,2480,6.3,2015,1.012000e+08,2.716190e+08
3,140607,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,http://www.starwars.com/films/star-wars-episod...,J.J. Abrams,Every generation has a story.,...,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/15,5292,7.5,2015,1.839999e+08,1.902723e+09
4,168259,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,http://www.furious7.com/,James Wan,Vengeance Hits Home,...,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/15,2947,7.3,2015,1.747999e+08,1.385749e+09

In [4]:
# draw initial information to better understand data

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10866 entries, 0 to 10865
Data columns (total 21 columns):
id                      10866 non-null int64
imdb_id                 10856 non-null object
popularity              10866 non-null float64
budget                  10866 non-null int64
revenue                 10866 non-null int64
original_title          10866 non-null object
cast                    10790 non-null object
homepage                2936 non-null object
director                10822 non-null object
tagline                 8042 non-null object
keywords                9373 non-null object
overview                10862 non-null object
runtime                 10866 non-null int64
genres                  10843 non-null object
production_companies    9836 non-null object
release_date            10866 non-null object
vote_count              10866 non-null int64
vote_average            10866 non-null float64
release_year            10866 non-null int64
budget_adj              10866 non-null float64
revenue_adj             10866 non-null float64
dtypes: float64(4), int64(6), object(11)
memory usage: 1.7+ MB

> This indicate there are 10866 records (with duplicates and missing values) and 21 columns, each with their data types and valid records number.

### Data Cleaning
> + drop columns

In [6]:
# find columns indexes

In [7]:
pd.DataFrame(df.columns)

                       0
0                     id
1                imdb_id
2             popularity
3                 budget
4                revenue
5         original_title
6                   cast
7               homepage
8               director
9                tagline
10              keywords
11              overview
12               runtime
13                genres
14  production_companies
15          release_date
16            vote_count
17          vote_average
18          release_year
19            budget_adj
20           revenue_adj

In [8]:
# drop columns we don't need

In [9]:
coldrop = df.iloc[:,np.r_[1,3:12,14:17]].columns
df.drop(coldrop, axis = 1,inplace = True)

In [10]:
# check if the result is right

In [11]:
df.head()

,id,popularity,runtime,genres,vote_average,release_year,budget_adj,revenue_adj
0,135397,32.985763,124,Action|Adventure|Science Fiction|Thriller,6.5,2015,1.379999e+08,1.392446e+09
1,76341,28.419936,120,Action|Adventure|Science Fiction|Thriller,7.1,2015,1.379999e+08,3.481613e+08
2,262500,13.112507,119,Adventure|Science Fiction|Thriller,6.3,2015,1.012000e+08,2.716190e+08
3,140607,11.173104,136,Action|Adventure|Science Fiction|Fantasy,7.5,2015,1.839999e+08,1.902723e+09
4,168259,9.335014,137,Action|Crime|Thriller,7.3,2015,1.747999e+08,1.385749e+09

> + drop/fill NaN

In [12]:
# check and locate NaN values

In [13]:
df.isnull().any()

id              False
popularity      False
runtime         False
genres           True
vote_average    False
release_year    False
budget_adj      False
revenue_adj     False
dtype: bool

In [14]:
df[df['genres'].isnull()]

,id,popularity,runtime,genres,vote_average,release_year,budget_adj,revenue_adj
424,363869,0.244648,100,NaN,6.1,2015,0.00000,0.0
620,361043,0.129696,90,NaN,5.0,2015,0.00000,0.0
997,287663,0.330431,44,NaN,6.8,2014,0.00000,0.0
1712,21634,0.302095,88,NaN,7.4,2009,0.00000,0.0
1897,40534,0.020701,76,NaN,7.0,2009,0.00000,0.0
2370,127717,0.081892,0,NaN,5.8,2010,0.00000,0.0
2376,315620,0.068411,62,NaN,7.7,2010,0.00000,0.0
2853,57892,0.130018,110,NaN,7.2,2001,0.00000,0.0
3279,54330,0.145331,96,NaN,6.1,2008,0.00000,0.0
4547,123024,0.520520,220,NaN,8.3,2012,0.00000,0.0
4732,139463,0.235911,100,NaN,6.2,2012,0.00000,0.0
4797,369145,0.167501,60,NaN,7.8,2012,0.00000,0.0
4890,126909,0.083202,2,NaN,7.0,2012,0.00000,0.0
5830,282848,0.248944,60,NaN,8.5,2013,0.00000,0.0
5934,200204,0.067433,3,NaN,6.9,2013,0.00000,0.0
6043,190940,0.039080,127,NaN,5.9,2013,0.00000,0.0
6530,168891,0.092724,6,NaN,5.9,2005,0.00000,0.0
8234,56804,0.028874,103,NaN,6.7,1995,0.00000,0.0
8614,65595,0.273934,12,NaN,6.7,1996,0.00000,0.0
8878,92208,0.038045,85,NaN,5.4,2000,0.00000,0.0
9307,141859,0.094652,105,NaN,5.3,1989,0.00000,0.0
9799,48847,0.175008,5,NaN,5.0,1974,0.00000,0.0
10659,4255,0.344172,71,NaN,3.0,1970,28081.84172,0.0

In [15]:
# because these records lack information on budget_adj, revenue_adj
# in addition to 23 records won't have big impact on large sample size
# it makes more sense to drop them

In [16]:
df.dropna(inplace = True)

> + drop duplicates

In [17]:
df.drop_duplicates(inplace = True)

> + breakdown 'genres'

In [18]:
# one movie can be categorized in multiple genres, so we need to break them down
# pick out the ones have more than on genres

In [19]:
multigenres = df[df['genres'].str.contains('\|')]
multigenres

,id,popularity,runtime,genres,vote_average,release_year,budget_adj,revenue_adj
0,135397,32.985763,124,Action|Adventure|Science Fiction|Thriller,6.5,2015,1.379999e+08,1.392446e+09
1,76341,28.419936,120,Action|Adventure|Science Fiction|Thriller,7.1,2015,1.379999e+08,3.481613e+08
2,262500,13.112507,119,Adventure|Science Fiction|Thriller,6.3,2015,1.012000e+08,2.716190e+08
3,140607,11.173104,136,Action|Adventure|Science Fiction|Fantasy,7.5,2015,1.839999e+08,1.902723e+09
4,168259,9.335014,137,Action|Crime|Thriller,7.3,2015,1.747999e+08,1.385749e+09
...,...,...,...,...,...,...,...,...
10858,31918,0.317824,126,Comedy|War,5.5,1966,0.000000e+00,0.000000e+00
10859,20620,0.089072,100,Mystery|Science Fiction|Thriller|Drama,6.6,1966,0.000000e+00,0.000000e+00
10862,20379,0.065543,176,Action|Adventure|Drama,5.7,1966,0.000000e+00,0.000000e+00
10863,39768,0.065141,94,Mystery|Comedy,6.5,1966,0.000000e+00,0.000000e+00
10864,21449,0.064317,80,Action|Comedy,5.4,1966,0.000000e+00,0.000000e+00

In [20]:
# looks like one movie can have upto four genres
# so we make four copies
# create function

In [25]:
def func(genre_index):
    '''make copies'''
    dfx = multigenres.copy
    '''assign movies into each df with only one kind of genre'''
    dfx['genres'] = dfx['genres'].apply(lambda x: x.split('|')[genre_index])
    return dfx

In [26]:
# excute function

In [27]:
df1 = func(0)
df2 = func(1)
df3 = func(-1)
df4 = func(-2)

TypeError: 'method' object is not subscriptable

In [ ]:
# append four dataframes together then drop duplicates

In [ ]:
new_rows = df4.append(df3.append(df1.append(df2)))
new_rows.drop_duplicates(inplace= True)

In [ ]:
# check for duplicates

In [ ]:
new_rows.duplicated().any()

In [ ]:
# drop multigenres from original df
# then append new_rows to original df

In [ ]:
df.drop(multigenres.index,inplace = True)

In [ ]:
df = df.append(new_rows)

In [ ]:
# check for duplicates

In [ ]:
df.duplicated().any()

In [ ]:
df.head()

<a id='eda'></a>
## Exploratory Data Analysis

### Research Question 1 (Which genres are most popular from year to year?)

In [ ]:
# aggregation

In [ ]:
ser = df.groupby(['release_year','genres'])['popularity'].mean()
ser

In [ ]:
# unstuck multi-index series

In [ ]:
newdf = ser.unstack()
newdf.head()

In [ ]:
# lineplot to show consistent changes over years

In [ ]:
newdf.plot(figsize= (20,10))
plt.title('popularity of genres change over years')
plt.ylabel('avg popularity');

> Although line plot can give a general idea how each genre's popularity changed over years, it is hard to read with so many genres

In [ ]:
# create a series 'value' to aggregate max
# average_popularity by year

In [ ]:
value = newdf.max(axis = 1)
value.head()

In [ ]:
# convert series 'value' to DataFram

In [ ]:
value = pd.DataFrame(value, columns = ['average_popularity'])
value.head()

In [ ]:
# create a series 'genre' to aggregate genre
# with max avg popularity by year
# then convert series 'genre' to DataFram

In [ ]:
genre = newdf.idxmax(axis = 1)
genre = pd.DataFrame(genre, columns= ['genres'])
genre.head()

In [ ]:
# merge two dataframs together

In [ ]:
mergedf = pd.merge(genre, value, left_index = True, right_index = True)
mergedf

> We can see each year's highest average popularity genres alone with their average popularity score.

In [ ]:
# bar chart of frequency of each genre to be the most popular kind

In [ ]:
mergedf['genres'].value_counts().plot(kind = 'bar',figsize = (10,5), color = 'c')
plt.title('Frequency of most popular genre')
plt.xlabel('genres')
plt.ylabel('frequency');

> This shows 'Adventure' movie is the most frequent type to be top popular over the whole time while 'Thriller' and/or 'History' movie happen to be most popular type the least times.

### Research Question 2  (What kinds of properties are associated with movies that have high revenues?)

In [ ]:
# first get a overall look at revenue

In [ ]:
df.describe()

In [ ]:
# we find out there are lots of records with zero revenue values
# we will only consider the ones with valid values

In [ ]:
revenue = df.query('revenue_adj != 0')
revenue.describe()

In [ ]:
# we can find out how correlated each variable to revenue

In [ ]:
revenue.corr()

> looks like budget has noticeable positive realtionship with revenue

In [ ]:
# next we separate records into two groups according to whether they are above the mean or not

In [ ]:
hrev = revenue.query('revenue_adj > 1.288364e+08')
lrev = revenue.query('revenue_adj <= 1.288364e+08')

In [ ]:
# find the average budget of each group

In [ ]:
x1 = hrev['budget_adj'].mean()
x2 = lrev['budget_adj'].mean()
x1,x2

In [ ]:
# we will make a barcahrt about average budget for each group
# to confirm the relationship

In [ ]:
plt.figure(figsize = (12,5))
plt.bar((1,2),(x1,x2), tick_label = ('high revenue','low revenue'),color= ('orange','blue'))
plt.text(1.5,5*1e7, r'differenct is: {}'.format(x1-x2), fontsize=15)
plt.title('avg budget of high/low revenue movies')
plt.xlabel('revenue groups')
plt.ylabel('budget');

> the barchart indicates high revenue movies generally have higher budget than low revenue movies. And the difference is alomst 60 million.

### Research Question 3  (Is the move longer the vote higher?)

In [ ]:
# select records with runtime is not 0

In [ ]:
length = df.query('runtime != 0 ')

In [ ]:
# correlationship chart

In [ ]:
length[['vote_average','runtime']].corr()

In [ ]:
# make scatterplot

In [ ]:
x = length['vote_average']
y = length['runtime']
plt.figure(figsize = (8,8))
plt.scatter(x, y, color = 'red', alpha = .3)
plt.title('runtime-avg vote correlation')
plt.xlabel('average_vote')
plt.ylabel('runtime');

> scatterplot has the same result as correlationship chart, which indicates runtime and average vote have a positive relationship but it is not very strong

In [ ]:
# trend of movie average runtime each year

In [ ]:
length.groupby(['release_year'])['runtime'].mean().plot(figsize = (10,5))
plt.title('avg rumtime/year')
plt.xlabel('year')
plt.ylabel('average rumtime');

<a id='conclusions'></a>
## Conclusions
> Throughout investigation we discovered initial correlationships between different variables. 
With an increasing trend, 'Adventure' movie has been the most popular kind among 'top average popular genre'. Moive revenue and budget have a positive correlationship and the budget difference could be significant. With movie seems long and long these years, surprisely the trend shows movie length has been decreasing. Inaddition, runtime and average vote have a positive relationship but it is not very strong.

> limitations:
+ When we dealt with Nan and missing values, we simply dropped the records, there could be a better way to deal with Nan and missing values with further statistical test and investigate.
+ When we broke down genres for each movie, we 'duplicated' those records in other categories, this could affect the accuracy of some aggregations and calculations.